* {
  margin: 0;
  padding: 0;
}

.headerContainer {
  display: flex;
  flex-direction: row;
}

.headerImg {
  width: 15vw;
  height: auto;
  padding-right: 2vw;
  margin-left: 2vw;
}

.headerSearch {
  align-self: center;
  font-size: 5vw;
  font-weight: bold;
  font-family: "Cambria", "Cochin", "Georgia", "Times", 'Times New Roman', "serif";
  color: rgb(226, 226, 34);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 3px;
}

.searchBar {
  margin-top: 2vw;
  margin-left: 2vw;
  width: 35vw;
  height: 25px;
  border-radius: 5px;
}

.searchButton {
  color:rgb(255, 255, 0);
  background-color: rgb(122, 146, 224);
  padding: auto;
  border-radius: 5px;
  font-size: 1rem;
  width: 15%;
  height: 28.5px;
  font-family: "Cambria", "Cochin", "Georgia", "Times", 'Times New Roman', "serif";
  font-weight: bold;
  border-style: none;
  cursor: pointer;
}

.navButtonContainer{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.navButton {
  color:rgb(255, 255, 0);
  background-color: rgb(122, 146, 224);
  padding: auto;
  border-radius: 5px;
  font-size: 1rem;
  width: 11%;
  height: 28.5px;
  font-family: "Cambria", "Cochin", "Georgia", "Times", 'Times New Roman', "serif";
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  margin-top: 10px;
}

.searchTip {
  font-family: "Cambria", "Cochin", "Georgia", "Times", 'Times New Roman', "serif";
  font-weight: bold;
  margin-left: 2vw;
  font-size: 2vw;
}

.resultsContainer {
  margin-left: 2vw;
  font-family: "Cambria", "Cochin", "Georgia", "Times", 'Times New Roman', "serif";
}

.resultsContainer li {
  margin-left: 5vw;
}

.spriteImg {
  width: 40vw;
  height: auto;
}

.notFound {
  font-family: "Cambria", "Cochin", "Georgia", "Times", 'Times New Roman', "serif";
  margin-left: 2vw;
  font-size: 4vw;
  padding-top: 1vw;
}

@media (max-width: 425px) {
  .searchButton {
    width: 18%;
  }
}

@media (min-width: 570px) and (max-width: 1000px) {
  .searchButton {
    width: 10%;
  }
}

@media (min-width: 1001px) {
  .searchButton {
    width: 7%;
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  .notFound {
    font-size: 3vw;
  }
}

@media (min-width: 1101px) {
  .notFound {
    font-size: 2.5vw;
  }
}

@media (min-width: 750px) {
  .searchTip {
    font-size: 1.5vw;
  }
}

@media (max-width: 1328px) {
  .navButton {
    width: 13%;
  }
}

@media (min-width: 946px) and (max-width: 1098px) {
  .navButton {
    width: 15%;
  }
}

@media (min-width: 831px) and (max-width: 945px) {
  .navButton {
    width: 17%;
  }
}

@media (min-width: 705px) and (max-width: 830px) {
  .navButton {
    width: 20%;
  }
}

@media (min-width: 547px) and (max-width: 704px) {
  .navButton {
    width: 26%;
  }
}

@media (min-width: 445px) and (max-width: 546px) {
  .navButton {
    width: 32%;
  }
}

@media (max-width: 444px) {
  .navButton {
    width: 48%;
  }
}