* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 0%);
  --header-bg-color: white;
  --button-bg-color: rgb(122, 146, 224);
  --button-text-color: rgb(255, 255, 0);
  --light-row-bg-color: hsl(0, 0%, 90%);
  --link-color: rgb(62, 101, 227);
  --footer-bg-color: hsl(0, 0%, 85%);
}

.dark-theme {
  --background-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 100%);
  --header-bg-color: hsl(0, 0%, 0%);
  --button-bg-color: rgb(80, 100, 180);
  --button-text-color: rgb(255, 255, 100);
  --light-row-bg-color: hsl(0, 0%, 20%);
  --link-color: rgb(255, 255, 100);
  --footer-bg-color: hsl(0, 0%, 6%);
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContentArea {
  flex-grow: 1;
  padding-bottom: 20px;
}

.initialPrompt {
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--header-bg-color);
}

.headerImg {
  width: 15vw;
  height: auto;
  padding-right: 1vw;
  margin-left: 2vw;
}

.headerSearch {
  align-self: center;
  font-size: 5.5vw;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: hsl(54, 100%, 50%);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  margin-top: 2vw;
  margin-left: 2vw;
}

.searchBar {
  width: 45vw;
  border-radius: 5px;
  padding: 0.5em 0.8em;
  height: 28.5px;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: normal;
}

.searchButton {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: auto;
  border-radius: 5px;
  font-size: 1rem;
  width: 9%;
  font-family: "Tomorrow", sans-serif;
  font-weight: bold;
  font-style: normal;
  border-style: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 28.5px;
  line-height: normal;
  vertical-align: middle;
}

.navButtonContainer{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.navButton {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: auto;
  border-radius: 5px;
  font-size: 1rem;
  width: 13%;
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  margin-top: 10px;
  height: 28.5px;
}

.navButton:disabled, .searchButton:disabled {
  cursor: not-allowed;
  background-color: hsla(226, 62%, 68%, 0.638);
}

.searchTip {
  font-family: "Tomorrow", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-left: 2vw;
  margin-right: 2vw;
  font-size: 2vw;
}

.resultsContainer {
  margin-left: 2vw;
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--background-color);
}

.resultsContainer li {
  margin-left: 5vw;
}

.spriteImg {
  width: 50vw;
  height: auto;
}

.notFound {
  font-family: "Tomorrow", sans-serif;
  font-weight: bold;
  margin-left: 2vw;
  font-size: 4vw;
  padding-top: 1vw;
}

.tomorrow-light {
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.quantico-bold {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.themeToggleButton {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: auto;
  font-size: 1rem;
  width: 13%;
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  align-self: center;
  margin-left: auto;
  margin-right: 2%;
  height: 28.5px;
}

.movesTableContainer {
  overflow: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 96vw;
  max-height: 800px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
}

th, td {
  border: 1px solid lightgrey;
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: var(--light-row-bg-color);
}

.footerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  padding-left: 2vw;
  margin-top: auto;
}

.footerColumn {
  grid-row: span 1;
  grid-column: span 1;
  margin-bottom: 20px;
  margin-top: 3%;
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  font-family: "Tomorrow", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.footerList {
  list-style: none;
  padding-left: 0;
}

.footerLink {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

.poweredBy {
  font-weight: bold;
  font-size: 1.2rem;
}

.footerColumn h3 {
  font-size: 1.5rem;
}

@media (max-width: 1600px) {
  .searchButton {
    width: 10%;
  }
}

@media (min-width: 600px) and (max-width: 915px) {
  .searchButton {
    width: 14%;
  }
}

@media (min-width: 451px) and (max-width: 599px) {
  .searchButton {
    width: 18%;
  }
}

@media (max-width: 450px) {
  .searchButton {
    width: 25%;
  }
}

@media (max-width: 599px) {
  .notFound {
    font-size: 5vw;
  }
}

@media (min-width: 600px) and (max-width: 1100px) {
  .notFound {
    font-size: 4vw;
  }
}

@media (min-width: 1101px) {
  .notFound {
    font-size: 2.5vw;
  }
}

@media (min-width: 1100px) {
  .searchTip {
    font-size: 1.6vw;
  }
}

@media (min-width: 820px) and (max-width: 1099px) {
  .searchTip {
    font-size: 1.8vw;
  }
}

@media (min-width: 550px) and (max-width: 819px) {
  .searchTip {
    font-size: 2.3vw;
  }
}

@media (min-width: 400px) and (max-width: 549px) {
  .searchTip {
    font-size: 3vw;
  }
}

@media (max-width: 399px) {
  .searchTip {
    font-size: 3.6vw;
  }
}

@media (max-width: 1500px) {
  .navButton, .themeToggleButton {
    width: 15%;
  }
}

@media (min-width: 950px) and (max-width: 1120px) {
  .navButton, .themeToggleButton {
    width: 18%;
  }
}

@media (min-width: 700px) and (max-width: 949px) {
  .navButton, .themeToggleButton {
    width: 24%;
  }
}

@media (min-width: 565px) and (max-width: 699px) {
  .navButton, .themeToggleButton {
    width: 30%;
  }
}

@media (max-width: 564px) {
  .navButton {
    flex-grow: 1;
  }

  .navButtonContainer {
    gap: 5px;
  }

  .themeToggleButton {
    font-size: 0.8rem;
    width: 40%;
  }
}

@media (max-width: 675px) {
  .searchBar {
    flex-grow: 1;
  }
}

@media (max-width: 575px) {
  .headerImg, .headerSearch {
    width: 24vw;
    font-size: 8vw;
  }
}

@media (max-width: 900px) {
  .spriteImg {
    width: 60vw;
  }
}

@media (min-width: 400px) and (max-width: 615px) {
  .spriteImg {
    width: 75vw;
  }
}

@media (max-width: 399px) {
  .spriteImg {
    width: 90vw;
  }
}

@media (max-width: 768px) {
  th, td {
    font-size: 0.8rem;
    padding: 6px;
  }

  .apiLogo {
    width: 60%;
    height: auto;
  }
}

@media (max-width: 480px) {
  th, td {
    font-size: 0.7rem;
    padding: 4px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .apiLogo {
    width: 75%;
    height: auto;
  }
}

@media (max-width: 399px) {
  .apiLogo {
    width: 95%;
    height: auto;
  }
}

@media (max-width: 976px) {
  .footerColumn h3 {
    font-size: 1.1rem;
  }

  .footerColumn {
    font-size: 0.9rem;
  }
}

@media (max-width: 574px) {
  .footerColumn h3 {
    font-size: 1rem;
  }
  .footerColumn {
    font-size: 0.8rem;
  }
}